/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
  padding: 15px;
}

/* KARTU PUTIH UTAMA */
.container {
  max-width: 1100px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* JUDUL */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* INPUT PENCARIAN */
#searchInput {
  width: 100%;
  padding: 18px 16px;
  font-size: 18px;
  border: 2px solid #007bff;
  border-radius: 14px;
  margin-bottom: 16px;
  outline: none;
}

/* WRAPPER TABEL (BIAR PAS) */
.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

/* TABEL */
table {
  width: 100%;
  border-collapse: collapse;
}

/* HEADER TABEL (BIRU) */
th {
  background: #007bff;
  color: white;
  padding: 14px;
  text-align: left;
  font-size: 16px;
}

/* ISI TABEL */
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

/* GARIS SELANG-SELING */
tr:nth-child(even) {
  background: #f9f9f9;
}
